.container-for-all{
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-image: url("/public/background_wallpaper.jpg");
    background-size: cover;
}

.rotate-logo{
    position: relative;
    top: 7.5rem;
    padding-left: 1rem;
    margin-top: 2rem;
    width: 75%;
}


.justify-content-center{
    background-color: #557B83;
    text-align: center;
}

.linkedin-text-h1{
    font-size: x-large;
}

.hidden-class{
    display: none;
}

.questions-text-box{
    font-size: x-large;
}

.link-or-choose{
    background-color: white;
    width: 50vw;
    height: 45vh;
    margin-left: 25%;
    margin-top: 7.5%;
    border-radius: 25%;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-or-choose-bigger{
    background-color: white;
    width: 80vw;
    height: 60vh;
    margin-left: 10%;
    margin-top: 7%;
    border-radius: 25%;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-or-choose-graph{
    background-color: white;
    height: 40vh;
    margin-top: 10%;
    border-radius: 25rem;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-generate{
    margin-top: 1.5rem;
    width: 10vw;
}

@media only screen and (max-width: 1750px){
    .link-or-choose-graph{
        width: 80vw;
        margin-left: 10%;
        margin-right: 10%;
    }

    @media only screen and (max-width: 1000px){
        .link-or-choose-graph{
            width: 90vw;
            margin-left: 5%;
            margin-right: 5%;
        }

        @media only screen and (max-width: 800px){
            .link-or-choose-graph{
                width: 100vw;
                height: 100%;
                margin: 0;
                border-radius: 0;
            }
        }
    }
}

@media only screen and (max-width: 1500){
    .link-paster-row{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 800px){
    .link-or-choose{
        width: 100vw;
        height: 100vh;
        padding-bottom: 5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        margin: 0;
        border-radius: 0;
    }

    .linkedin-text-h1{
        font-size: medium;
    }
}

.remove-padding-brand{
    padding-right: 0 !important;
    margin-right: 0 !important;
}

.banner-box{
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.white-box-welcome{
    text-align: center;
    background-color: white;
    margin-top: 10rem;
    height: 50vh;
    width: 40%;
    border-radius: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.proceed-button{
    margin: 2.5rem;
    max-width: 20rem; /* size of buttonc */
}

@media only screen and (max-width: 1400px){
    .white-box-welcome{
        width: 50%;
    }
    @media only screen and (max-width: 1200px){
        .white-box-welcome{
            width: 55%;
        }
        @media only screen and (max-width: 1000px){
            .white-box-welcome{
                width: 60%;
            }
            @media only screen and (max-width: 800px){
                .white-box-welcome{
                    width: 65%;
                }
                @media only screen and (max-width: 600px) {
                    .white-box-welcome{
                        width: 75%;
                    }
                    @media only screen and (max-width: 500px){
                        .white-box-welcome{
                            width: 90%;
                        }
                    }
                }
            }
        }
    }
}

.following-banner-box{
    height: 70vh;
    background-color: #39AEA9;
}

@media screen and (max-width:1000px){
    .banner-box > h1 {
        display: none;
    }
}

.dev-task-img{
    width: auto;
    height: auto;
}

.group-form-number-qs{
    margin-top: 1rem;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
