.container-for-all{
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-image: url("/public/background_wallpaper.jpg");
    background-size: cover;
}


.justify-content-center{
    background-color: #557B83;
    text-align: center;
}

.linkedin-text-h1{
    font-size: x-large;
}

.link-or-choose{
    background-color: white;
    width: 50vw;
    height: 50vh;
    margin-left: 25%;
    margin-top: 5%;
    border-radius: 25%;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-generate{
    margin-top: 1.5rem;
}

@media only screen and (max-width: 1500){
    .link-paster-row{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 800px){
    .link-or-choose{
        width: 100vw;
        height: 100vh;
        padding-bottom: 5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        margin: 0;
        border-radius: 0;
    }

    .linkedin-text-h1{
        font-size: medium;
    }
}

.remove-padding-brand{
    padding-right: 0 !important;
    margin-right: 0 !important;
}

.banner-box{
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.white-box-welcome{
    background-color: white;
    margin-top: 10rem;
    height: 80vh;
    width: 40%;
    border-radius: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.proceed-button{
    margin: 2.5rem;
    max-width: 20rem; /* size of buttonc */
}

@media only screen and (max-width: 1400px){
    .white-box-welcome{
        width: 50%;
    }
    @media only screen and (max-width: 1200px){
        .white-box-welcome{
            width: 55%;
        }
        @media only screen and (max-width: 1000px){
            .white-box-welcome{
                width: 60%;
            }
            @media only screen and (max-width: 800px){
                .white-box-welcome{
                    width: 65%;
                }
                @media only screen and (max-width: 600px) {
                    .white-box-welcome{
                        width: 75%;
                    }
                    @media only screen and (max-width: 500px){
                        .white-box-welcome{
                            width: 90%;
                        }
                    }
                }
            }
        }
    }
}

.following-banner-box{
    height: 70vh;
    background-color: #39AEA9;
}

@media screen and (max-width:1000px){
    .banner-box > h1 {
        display: none;
    }
}

.dev-task-img{
    width: auto;
    height: auto;
}

.group-form-number-qs{
    margin-top: 1rem;
}